Signup = (function(){
    var reset_cb, success_cb, failure_cb;
    reset_cb = function(){ $('.signup-flash').hide(); }
    success_cb = function(){ $('#signup-success').show(); }
    failure_cb = function(){ $('#signup-failure').show(); }
  return {
    reset: function(f){ reset_cb = f; },
    success: function(f){ success_cb = f; },
    failure: function(f){ failure_cb = f; },

    init: function(){
      $(function(){
        reset_cb();
          $('{{form_id}}').submit(function(){
            reset_cb();
            $.post('{{host}}/{{project}}', $(this).serialize(), function(data){
                 success_cb();
              })
              .error(function(){
                failure_cb();
              });

            return false;
          });
      });

    }
  }})();
Signup.init();

